.container {
    width: 100%;
    margin: auto;
}
.landing-page {
    width: 80%;
    margin: auto;
}

@media screen and (max-width: 1200px) {
    .landing-page {
        width: 95%;
    }
}
@media screen and (max-width: 1340px) {
    .landing-page {
        width: 90%;
    }
}